#centered-container {
    position: relative;
    height: 100vh;
    /* Set the container height to cover the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Additional styles for the container can be added here */
}

@media (max-width: 750px) {
    #centered-container {
        padding: 20px;
    }
}

#buttongrid {


    display: flex;




}

#tipbody {
    background-color: #f3f3fc;
    padding: 16px;
    border-radius: 16px;
    border-style: solid;
    border-color: #e2e1f2;
    border-width: .75px .75px 0.25px 0.25px;
    width: 500px;
    box-shadow: 16px 16px 16px rgba(26, 26, 30, .25);

}

#textandbutton {
    background-color: #fafafa;
    padding: 16px;
    border-style: solid;
    border-color: #e2e1f2;
    border-width: 0px 2px 2px 2px;

}


#mrmoney {
    background-color: #fafafa;
    padding: 16px;
    border-radius: 0px 0px 8px 8px;
    border-style: solid;
    border-color: #e2e1f2;
    border-width: 0px 2px 2px 2px;


}

#main-heading {
    color: #323647;
    text-align: center;
    background-color: #fafafa;
    padding: 8px;
    border-radius: 8px 8px 0px 0px;
    border-style: solid;
    border-color: #e2e1f2;
    border-width: 2px 2px 2px 2px;
    margin-top: 2px;
    margin-bottom: 0px;
}




#button1 {
    border-radius: 8px;
    padding: 8px;
    background-color: #2f313a;
    margin-top: 40px;
    color: white;
    border-color: #22272e;
    border-style: solid;

    margin-right: 8px;
    width: 50%;


}

#button1:hover {
    border-radius: 8px;
    padding: 8px;
    background-color: #3a3c47;
    margin-top: 40px;
    cursor: pointer;
    border-color: #22272e;
    border-style: solid;
}


#button2 {
    border-radius: 8px;
    padding: 8px;
    background-color: #fffdfd;
    margin-top: 40px;
    color: #464653;
    border-color: #22272e;
    border-style: solid;


    width: 50%;


}

#button2:hover {
    border-radius: 8px;
    padding: 8px;
    background-color: #f5F5F5;
    margin-top: 40px;
    cursor: pointer;

}

#billAmount {
    background-color: #f5F5F5;
    color: #0d153f;
    border-radius: 4px;
    padding: 8px;
    width: 95%;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #0d153f;
}

#billAmount:hover {
    border-radius: 4px;
    padding: 8px;
    width: 95%;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #728be6;
}

#tipPercentage {
    background-color: #f5F5F5;
    color: #0d153f;
    border-radius: 4px;
    padding: 8px;
    width: 95%;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #0d153f;


}

#tipPercentage:hover {
    border-radius: 4px;
    padding: 8px;
    width: 95%;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #728be6;

}

#numberOfGuests {
    background-color: #f5F5F5;
    color: #0d153f;
    border-radius: 4px;
    padding: 8px;
    width: 95%;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #0d153f;
}

#numberOfGuests:hover {
    border-radius: 4px;
    padding: 8px;
    width: 95%;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #728be6;
}



#textandinput {
    display: flex;
    flex-direction: column;
    margin-bottom: -24px;
}

#inputgroup {
    margin-bottom: 16px;
}

#tipAmount {
    background-color: #f5F5F5;
    padding: 8px;
    border-radius: 4px;
    border: solid;
    border-width: 2px;
    border-color: #dddddd;
    margin-right: 24px;
}

#totalBill {
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 4px;
    border: solid;
    border-width: 2px;
    border-color: #dddddd;
}

#eachTip {
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 4px;
    border: solid;
    border-width: 2px;
    border-color: #dddddd;

}

@font-face {
    font-family: ClashHeader;
    src: url(ClashGrotesk-Bold.otf);
}

@font-face {
    font-family: ClashRegular;
    src: url(ClashGrotesk-Regular.otf);
}

@font-face {
    font-family: ClashSemi;
    src: url(ClashGrotesk-Semibold.otf);
}

h1 {
    font-family: ClashHeader;
}

body {
    font-family: ClashRegular;
    color: #0d153f;
}

button {
    font-family: ClashSemi;
}


h3 {
    color: #656574;
    font-family: ClashRegular;
}

#tipbox {
    display: flex;
    justify-content: start;
    align-items: flex-start;

}