#tipbody {
    background-color: #bcbcf1;
    padding: 8px;
    border-radius: 16px;

}

#main-heading {
    color: #728be6;
    text-align: center;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 75px;
}

#input-group {
    margin-bottom: 50px;
    text-align: center;

}

#input-group label {
    margin-right: 10px;
    /* Adjust the value as needed to add space between the label and input */
}



#button1 {
    border-radius: 50px;
    padding: 16px;
    background-color: #e5531d;
    margin-top: 40px;
    color: white;
    border: 4px solid;

}

#button1:hover {
    border-radius: 50px;
    padding: 16px;
    background-color: #dd4513;
    margin-top: 40px;
    cursor: pointer;

}